@model BatchManagementDAL.Batch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Batch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TentativeEndData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TentativeEndData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursTaken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BatchId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
