@model IEnumerable<BatchManagementDAL.Batch>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BatchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TentativeEndData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursTaken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BatchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TentativeEndData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursTaken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BatchId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BatchId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BatchId })
        </td>
    </tr>
}

</table>
